@import '../../styles/mixins';

.face {
  @include borders;
  @include active-cells;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  font-size: var(--font-size-face);
  cursor: pointer;
}
