@import '../../styles/mixins';

.cell {
  @include borders;
  @include active-cells;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;

  &__content {
    font-size: 1.2rem;
  }

  &--touched {
    border-color: var(--border-dark-2);
    border-width: 1px;
  }
}
