@mixin borders($left-top: var(--border-light), $right-bottom: var(--border-dark-2)) {
  border-width: 4px;
  border-style: solid;
  border-top-color: $left-top;
  border-left-color: $left-top;
  border-bottom-color: $right-bottom;
  border-right-color: $right-bottom;
}

@mixin active-cells {
  &:active {
    border-top-color: var(--border-dark-2);
    border-left-color: var(--border-dark-2);
    border-bottom-color: var(--border-light);
    border-right-color: var(--border-light);
  }
}
