:root {
  --bg-app: #c2c2c2;
  --bg-header: #c0c0c0;
  --bg-number-display: #000;
  --border-light: #fff;
  --border-dark-1: #999;
  --border-dark-2: #7b7b7b;
  --color-number-display: #ff0701;
  --color-cell-content-1: blue;
  --color-cell-content-2: green;
  --color-cell-content-3: red;
  --color-cell-content-4: purple;
  --color-cell-content-5: maroon;
  --color-cell-content-6: turquoise;
  --color-cell-content-7: black;
  --color-cell-content-8: gray;
  --font-size-number-display: 4rem;
  --font-size-face: 3.5rem;
}
