:root {
  --bg: #c2c2c2;
  --bg-header: #c0c0c0;
  --bg-number-display: #000;
  --border-light: #fff;
  --border-dark-1: #999;
  --border-dark-2: #7b7b7b;
  --color-number-display: #ff0701;
  --font-size-number-display: 4rem;
  --font-size-face: 3.5rem;
}
