.App {
  background-color: var(--bg);
  padding: 1.6rem;
  border-width: 4px;
  border-style: solid;
  border-left-color: var(--border-light);
  border-top-color: var(--border-light);
  border-right-color: var(--border-dark-1);
  border-bottom-color: var(--border-dark-1);
}
