@import '../../styles/mixins';

.header {
  @include borders(var(--border-dark-2), var(--border-light));
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-header);
  padding: 1rem 1.2rem;
}
