.number-display {
  width: 8rem;
  height: 4.8rem;
  color: var(--color-number-display);
  background-color: var(--bg-number-display);
  font-size: var(--font-size-number-display);
  text-align: center;
}
